*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
    letter-spacing:.3px;
    background-color:#0e141f;
    color:#FFF;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    /*Animation*/
    animation:fadein 3.0s;
    -moz-animation:fadein 3.0s;
    -webkit-animation:fadein 3.0s;
}
#particles-js
{
    height:  100%;
    width: 100%;
    background: #0e141f;
    overflow: hidden;
    z-index: 0;
    position: absolute;
}
.content{
    margin: auto;
    width: 30%;
    height: 25%;
    position: absolute;
    z-index: 1;
    text-align: center;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.content .bild{
    display: inline-block;
    z-index: 2;
}
.content .bild .portrait{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-width: 3px;
    border-color: #FFF;
    border-style: solid;
    background-image: url("../img/me2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content .text{
    margin-top: 0.5em;
}
.content .text h1 a{
    text-decoration: none !important;
    letter-spacing: .8px;
    color: white;
    z-index: 2;
}
.content .text p{
    color: #b3b3b3;
    z-index: 3;
}
.content .text p a{
    text-decoration: none !important;
    font-weight: bold;
    color: white;
}
.content .text p a:hover{
    color: #faa500;
}
.content .text ul{
    z-index: 4;
    padding: 0%;
    margin-top: 0.5em;
}
.content .text ul li{
    display:  inline;
    font-size: 2em;
}
.content .text ul li a{
    color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    width: 32px;
    height: 32px;
}
.content .text ul li .fa-twitter:hover{
    color: #00aced;
}
.content .text ul li .fa-instagram:hover{
    color: #458eff;
}
.content .text ul li .fa-github:hover{
    color: #000000;
}
.content .text ul li .fa-wordpress:hover{
    color:#21759b;
}
.content .text ul li .fa-at:hover{
    color: #0489c9;
}
.content .text ul li .fa-snapchat-ghost:hover{
    color: #fffc00;
}
.content .text ul li .fa-gitlab:hover{
    color: #e8590c;
}
.content .text ul li .fa-discord:hover{
    color: #7289DA;
}
.content .text ul li .fa-pinterest:hover{
    color: #cb2027;
}
.content .text ul li .fa-paypal:hover{
    color: #003087;
}
.content .text ul li .fa-reddit:hover{
    color: #ff4500;
}
.content .text ul li .fa-facebook:hover{
    color: #3b5998;
}
.content .text ul li .fa-spotify:hover{
    color: #00e461;
}
.content .text ul li .fa-steam:hover{
    color: #000000;
}
.content .text ul li .fa-telegram-plane:hover{
    color: #0088cc;
}
.content .text ul li .fa-twitch:hover{
    color: #6441a5;
}
.content .text ul li .fa-trello:hover{
    color: #0079bf;
}
/*Animationen*/
@keyframes fadein{
    from{
        opacity:0;
    }to{
        opacity:1;
    }
}
@-moz-keyframes fadein{
    from{
        opacity:0;
    }to{
        opacity:1;
    }
}
@-webkit-keyframes fadein{
    from{
        opacity:0;
    }to{
        opacity:1;
    }
}
@-o-keyframes fadein{
    from{
        opacity:0;
    }to{
        opacity:1;
    }
}
